<header>
    <div class="container-fluid d-flex justify-content-center">
        <div class="row">
            <div class="col header-left d-flex align-items-center justify-content-start">
                <img class="icon-main" src="assets/images/icon.svg">
                <img class="icon-text" src="assets/images/icon-text.svg">
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center">content</div>
            <div class="col d-flex align-items-center justify-content-end">content</div>
        </div>
    </div>
</header>